doctype html

html
    head 
        title Todo App
    body 
        h3 Login 
        p #{error}
        form(action="/login", method="post", )
            label(for="email")  Email
            input(type="email", id="email", name="email")
            label(for="password") Password 
            input(type="password", id="password", name="password") 
            button(type="submit") Login
        p or 
        a(href="/register") register
         
        