doctype html

html
    head 
        title Todo App
    body 
        h3 Register
        if error 
            p #{error}
        form(action="/register", method="post")
            label(for="name")  Name
            input(type="text", id="name", name="name")
            label(for="email")  Email
            input(type="email", id="email",name="email" required=true)
            label(for="password") Password 
            input(type="password", id="password", name="password" required=true) 
            button(type="submit") Register
        p or 
        a(href="/") login
         
        